.cartMain {
    position: absolute;
    z-index: 10;
    background-color: #FFFFFF;
    top: 75px;
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.6);
    width: calc(100% - 40px);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    left: 20px;
}

.cartContentConnector {
    position: absolute;
    top: 65px;
    right: 25px;
    z-index: 22;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FFFFFF;
}

.cartTopic {
    font-family: 'PT Serif', serif; /* imported in index.html */
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #2F2926;
}

.cartItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    height: 70px;
    padding-left: 20px;
}

.cartTitlePrice {
    flex-basis: 100%;
}

.cartTitleSpan {
    float: left;
    line-height: 25px;
    font-family: 'PT Serif', serif; /* imported in index.html */
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    color: #2F2926;
    background-color: #FFFFFF;
}

.cartDotsSpan {
    display: block;
    border-bottom: 2px dotted #000000;
}

.cartPriceSpan {
    font-family: 'Work Sans', serif; /* imported in index.html */
    font-weight: 400;
    font-size: 12px;
    line-height: 70%;
    color: #2F2926;
    text-align: left;
}

.cartQuantity {
    flex-basis: 50px;
    font-family: 'Work Sans', serif; /* imported in index.html */
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #2F2926;
    margin-left: 10px;
    justify-content: flex-start;
}

.cartTotalPrice {
    flex-basis: 120px;
    font-family: 'PT Serif', serif; /* imported in index.html */
    font-weight: 700;
    font-size: 23px;
    color: #2F2926;
    margin-left: 10px;
    line-height: 120%;
}

.IncDe:hover {
    cursor: pointer;
}