.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Work Sans'; /* imported in index.html */
    font-weight: 700;
    text-align: center;
}