.menuMain {
    height: 100%;
    width: 100%;
    background-color: #F3E4E1;
}

.menuHeader {
    width: 100%;
}

.menuHeader img {
    width: 100%;
}

.menuCart {
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: #2F2926;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    border: 0;
    background-image: url("../graphics/bag.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.menuCart:hover {
    cursor: pointer;
}

.menuCartCounter {
    position: absolute;
    z-index: 10;
    top: 14px;
    right: 16px;
    width: 18px;
    height: 18px;
    background-color: #E5674E;
    border-radius: 50%;
    border: 0;
    font-family: 'PT Serif', serif; /* imported in index.html */
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;   
}

.menuTitle {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'PT Serif', serif; /* imported in index.html */
    font-weight: 700;
    font-size: 42px;
    color: #2F2926;
    padding-bottom: 25px;
}

.menuFooter {
    margin-top: 25px;
    width: 100%;
}

.menuFooter img {
    width: 100%;
}